<form action=" <%= users_url %> " method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  

<h1>All Bands</h1>

<a href="<%= new_band_url %>">Add Band</a>

<section>
  <% @bands.each do |band| %>

  <li>
    <a href="<%= band_url(band) %>"><%= band.name %></a>
    <br>
  </li>
  
  <% end %>

</section>
